doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Iniciar Sesión

    // Bootstrap 4
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css")

  body
    include navegacion

    .container.mt-5
      .row
        .col-md-4.mx-auto
          .card
            .card-header
              h3.card-title.text-center Iniciar Sesión
            .card-body
              form(method="POST", action="/Inicio")
                input(type="hidden", name="_method", value="PUT")
                
                .form-group
                  label(for="Cedula") Cedula
                  input(type="text", name="Cedula", class="form-control", placeholder="Cedula", autofocus)

                .form-group
                  label(for="Contraseña") Contraseña
                  input(type="password", name="Contraseña", class="form-control", placeholder="Contraseña")

                .form-group
                  button.btn.btn-primary.btn-block(type="submit") Iniciar Sesión

    // Bootstrap 4
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
